#root {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#resizer {
    background: black;
    width: .5vw;
    height: 100vh;
}

#resizer:hover {
    cursor: ew-resize;
}

#editor-pane {
    width: 29.5vw;
    height: 90vh;
}

#preview-pane {
    width: 70vw;
    height: 90vh;
    overflow: scroll;
    background: #f6f6f6;
    padding: 5px;
}

#editor {
    height: 90vh !important;
    width: 100%;
    resize: none;
    background: #f6f6f6;
    padding: 5px;
    border: none;
}

#editor:focus {
    outline: none;
}