html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#page-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

pre,
code {
    background: #fff;
    color: #e83e8c;
}

table,
th,
td {
    border: 1px solid black !important;
    padding: 10px 15px;
}

head {
    background: red;
}

/** Top-pane */
.navbar-custom {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: rgb(197, 197, 197);
    border-bottom: 1px solid #000;
}

.dropdown-menu {
    width: 30rem;
    margin: 1.3rem 0 0 -28.2rem;
    border-radius: 0;
    height: 30rem;
    overflow: scroll;
    padding: 10px;
    background: #ddd;
}



#nav-list>ul {
    list-style-type: none;
}

#nav-list>ul>li {
    float: left;
}

#dropdownId {
    color: inherit;
}