#top-pane {
    width: 100vw;
    height: 10vh;
    background: #ddd !important;
}

#navbarDropdown {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .25rem;
    padding: 5px 15px;
    color: rgba(0, 0, 0, .5);
}